@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    margin:0 1rem;
}
